# Regresja

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import cross_val_predict
from sklearn import datasets, linear_model
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn import model_selection
from sklearn import  metrics
from statsmodels.formula.api import ols

Rozważmy zbiór Boston

In [2]:
import pandas as pd
import numpy as np


data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
target = raw_df.values[1::2, 2]
feature_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']

In [3]:
# print(boston.keys())
# print(boston.data.shape)
# print(boston.feature_names)
bos=pd.DataFrame(data)
bos.head()

bos.columns = feature_names
bos.head()

# print(boston.target[0:5])
bos['PRICE']=target
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [4]:
# get the data
boston_X = data
boston_Y = target

# Split the data into training/testing sets
boston_X_train = boston_X[:-50]
boston_X_test = boston_X[-50:]
 
# Split the targets into training/testing sets
boston_y_train = boston_Y[:-50]
boston_y_test = boston_Y[-50:]

In [5]:
bos=pd.DataFrame(data[:-50])
bos.columns = feature_names
bos['PRICE']=target[:-50]
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [6]:
bos1=pd.DataFrame(boston_X[-50:])
bos1.columns = feature_names
bos1['PRICE']=target[-50:]
bos1.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,4.66883,0.0,18.1,0.0,0.713,5.976,87.9,2.5806,24.0,666.0,20.2,10.48,19.01,12.7
1,8.20058,0.0,18.1,0.0,0.713,5.936,80.3,2.7792,24.0,666.0,20.2,3.50,16.94,13.5
2,7.75223,0.0,18.1,0.0,0.713,6.301,83.7,2.7831,24.0,666.0,20.2,272.21,16.23,14.9
3,6.80117,0.0,18.1,0.0,0.713,6.081,84.4,2.7175,24.0,666.0,20.2,396.90,14.70,20.0
4,4.81213,0.0,18.1,0.0,0.713,6.701,90.0,2.5975,24.0,666.0,20.2,255.23,16.42,16.4

In [7]:
model = ols("PRICE ~ CRIM + ZN + np.power(CHAS, NOX) + I(RAD**2)+ I(INDUS ** 3.0)", bos).fit()
# Print the summary
print((model.summary2()))

                  Results: Ordinary least squares
===================================================================
Model:               OLS              Adj. R-squared:     0.293
Dependent Variable:  PRICE            AIC:                3194.3795
Date:                2023-04-13 11:32 BIC:                3219.1145
No. Observations:    456              Log-Likelihood:     -1591.2
Df Model:            5                F-statistic:        38.73
Df Residuals:        450              Prob (F-statistic): 4.56e-33
R-squared:           0.301            Scale:              63.705
-------------------------------------------------------------------
                     Coef.  Std.Err.    t    P>|t|   [0.025  0.975]
-------------------------------------------------------------------
Intercept           24.0812   0.6026 39.9629 0.0000 22.8970 25.2655
CRIM                -0.2012   0.0561 -3.5860 0.0004 -0.3115 -0.0909
ZN                   0.0867   0.0168  5.1550 0.0000  0.0536  0.1197
np.power(CHAS, NOX)  6.3972   1.4128  4.5281 0.0000  3.6207  9.1736
I(RAD ** 2)         -0.0061   0.0023 -2.5981 0.0097 -0.0107 -0.0015
I(INDUS ** 3.0)     -0.0004   0.0001 -3.3641 0.0008 -0.0007 -0.0002
-------------------------------------------------------------------
Omnibus:              154.140       Durbin-Watson:          0.810
Prob(Omnibus):        0.000         Jarque-Bera (JB):       414.179
Skew:                 1.665         Prob(JB):               0.000
Kurtosis:             6.273         Condition No.:          16901
===================================================================
* The condition number is large (2e+04). This might indicate
strong multicollinearity or other numerical problems.

In [8]:
from sklearn import  metrics
metrics.r2_score(bos.PRICE, model.predict(bos))

0.3008651283967694

In [9]:
from sklearn import  metrics
metrics.r2_score(bos1.PRICE, model.predict(bos1))

-0.08957844949002247